* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barriecito", system-ui;
  font-family: "EB Garamond", serif;
  font-family: "Fredericka the Great", serif;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Serif Display", serif;
  font-family: "Roboto", sans-serif;
}

.container1 {
  display: grid;
  background-color: rgb(235, 247, 252);
  grid-template-columns: repeat(6, 14.2857%);
}
.video1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
}

#events {
  padding: 0px 0px 20px 0px;
  /* height: 70vh; */
}

.seventh-day {
  grid-row: 1/3;
  grid-column: 7;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo {
  /* top: 20px; */
  /* width: 40px; */
  /* position: fixed; */
}
.top-header {
  grid-row: 1;
  grid-column: 1/7;
  /* height: 100vh; */
}
img {
  height: 300px;
  object-fit: cover;

  width: 100%;
}
.background {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.adventistlogo {
  font-family: sans-serif;
}
header {
  width: 400px;
  margin: 30px;
  /* padding: 1em; */
}

.navbar {
  background-color: #555;
  padding: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 1em;
}

main {
  grid-column: 1/7;
}
.tillcontact {
  padding: 5em;
}
.identidad {
  margin-top: 0px;
  margin-bottom: 0px;
  gap: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about h2,
#services h2 {
  padding: 22px;
  padding-right: 10px;
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.desIdentidad {
  width: 300px;
}
.desIdentidad > h4 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.desIdentidad > p {
  font-size: 16px;
}
.servicios {
  font-size: 30px;
  justify-items: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-gap: 10px; Adjust spacing between buttons */
}
.service {
  /* border-bottom: 9px solid black; */
  /* border-left: 9px solid black; */
  padding: 40px;
  padding-left: 80px;
  text-align: center;
}
.servicios .service:nth-child(1),
.service:nth-child(3) {
  border-right: 2px solid black;
}
.servicios .service:nth-child(1),
.service:nth-child(2) {
  border-bottom: 2px solid black;
}
.service > button {
  border: none;
  background-color: transparent;
}

/* Custom styles for the carousel */
.carousel-item img {
  max-height: 300px;
  object-fit: cover;
}

/* Custom styles for the accordions */
.accordion {
  margin-top: 20px;
}

.accordion-header {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  text-align: left;
  position: relative;
}

.accordion-header::after {
  content: "\25B8"; /* Unicode arrow character for collapsed state */
  font-size: 12px;
  color: white;
  position: absolute;
  right: 10px;
  transition: transform 0.3s ease;
}

.accordion-item.collapsed .accordion-header::after {
  transform: rotate(90deg); /* Rotate the arrow for expanded state */
}

.accordion-content {
  display: none;
  padding: 10px;
  border: 1px solid #007bff;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.accordion-content p {
  margin: 0;
}
#contact {
  text-align: center;
  background-color: #33333338;
  padding: 1em;
  height: auto;
}
.colums-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.horarios > table {
  text-align: center;
  margin: auto;
}
.horarios > p {
  padding-top: 10px;
  text-align: center;
  margin: auto;
}
.socialmedia {
  display: flex;
  justify-content: center;
  margin: 30px 0 20px 0;
  gap: 60px;
  height: 30px;
}
footer {
  background-color: #333333;
  color: #fff;
  font-size: 12px;
  padding-top: 4.5px;
  padding-bottom: 20px;

  padding-left: 10px;

  height: 30px;
}
@media (max-width: 700px) {
  .tillcontact {
    padding: 50px;
  }
  /* Adjust styles for smaller screen sizes */
  header > svg {
    width: 200px;
  }
  .servicios {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }
  .colums-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* text-align: center; */
  }
  .servicios .service:nth-child(1),
  .service:nth-child(3) {
    border-right: none;
  }
  .service {
    padding: 40px;
    border-bottom: 2px solid black;
  }
  .servicios,
  .service:nth-child(4) {
    border-bottom: none;
  }
  .video1 {
    height: 275px;
  }
}
